html,
body {
    height: 100%;
    margin: 0;
}

/* use viewport-relative units to cover page fully */
body {
  
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(150px,2);
  grid-template-rows: repeat(150px,4);
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.lowerlist {
    margin-top: 20px;
}

.side-bar {
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:1;
  
    background-color:#8b5cf6;
}


.header {
background-color: #5cf685;
grid-column-start: 2;
grid-column-end: 8;
grid-row-start: 1;
  grid-row-end:2;

}