@import url("reset.css");
.root div {
  padding: 15px;
}
.root {
  background-color: aqua;
  display: grid;
  overflow: auto;
  height: 100vh;
  gap: 5px;
  grid-template-columns: 1fr 5fr;
}

.header {
  grid-column: 2 /3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: darkgoldenrod;
}
.left {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



.right-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.left-nav {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
}

.content {
  grid-column: 2 /3;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: palevioletred;
}
.card {
  height: 100px;
}
.sidebar {
  display: grid;
  grid-row: 1 /  4;
  grid-column: 1 /2;
  grid-template-columns: 1fr 1fr;
  background-color: brown;
}



ul,
ol {
  list-style-type: none;
}
