html,
body {
    margin: 0;
    height: 50vh;
    box-sizing: border-box;

}

body {
 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);

}



.sidebar {
    background-color: lightcoral;
    grid-row: 1/5;
}

.header {
    background-color: lightgreen;
    grid-column: 2/5;
}

.main {
    box-sizing: border-box;
    background-color: lightsteelblue;
    grid-row-end: span 3;
    grid-column-end: span 3;
    display: grid;
    grid-template-columns: 450px 450px 300px;
    grid-template-rows: 330px 330px 330px;
    gap: 30px;

}

.main>.page {
    background-color: #d2e93a;
    margin: 20px;
 
}
.page3, .page6 {
    background-color: #d2e93a;
    margin: 20px;
    
}