
html,body {
    margin :0;
    height: 100vh;
}


.container {
    display:grid;
    height: 100vh;
     grid-template-columns: 0.2fr 1fr;
     
     grid-template-rows: 0.5fr 1fr 1fr 1fr;
      grid-template-areas:
        "sidebar header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main"
       
     
        
        
        
        
        
        
  }
  
  #sidebar {
    background:blue;
    grid-area:sidebar;
  }
  #header {
    background:lime;
    grid-area:header;
  }
  .main {
     grid-area:main;
    background:orange;
    display:grid;
    
    gap:10px;
    grid-template-columns: repeat(4,300px);
     grid-template-rows: repeat(4,200px);
     grid-template-areas:
       "page1 page2 page7"
       "page3 page4 ."
       "page5 page6 page8"
       
  }
  .page1 {
    background:black;
    grid-area:page1;
  }
  .page2 {
    background:black;
    grid-area:page2;
  }
  .page3 {
    grid-area:page3;
    background:black;
  }
  .page4 {
    grid-area:page4;
    background:black;
  }
  .page5 {
    grid-area:page5;
    background:black;
  }
  .page6 {
    grid-area:page6;
    background:black;
  }
  .page7 {
    grid-area:page7;
    background:black;
  }
  .page8 {
    grid-area:page8;
    background:black;
  }
  