@import url("reset.css");
:root {
  --primary-color: rgb(72, 178, 30);
  --text-color: #ffffff;
  --second-primary: #bccbde;
}
:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.root {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
}

.header {
  padding-right: 20px;
  display: grid;
  padding-left: 20px;
  padding-top: 25px;
  padding-right: 3rem;
  grid-column: 2 / 4;
  row-gap: 30px;
  align-items: center;
  grid-template-columns: 1.5fr 1fr;
}

.left-header {
  gap: 10px;
  align-items: center;
  display: grid;
  grid-column: 1;
  grid-template-columns: 25px 1fr;
}
.left-bottom {
  display: grid;

  grid-template-columns: 100px 300px;
  align-items: center;
}

.right-header {
  justify-self: end;
  grid-row: 1;
  gap: 20px;
  grid-column: 2;
  display: flex;
  align-items: center;
}
.call-to-action {
  margin-right: 30px;
  justify-content: flex-end;
  display: flex;
  gap: 30px;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}
.green {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  object-fit: cover;
}
.message {
  font-size: 1rem;
}
.profile-name {
  font-weight: bold;
  font-size: 1.4rem;
}

img {
  width: 25px;
  height: 25px;
  color: white;
}
input {
  border-radius: 15px;
  border: none;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  background-color: rgb(222, 222, 222);
}
.profile .green {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.right-nav {
  justify-self: end;
  grid-column: 2;
  margin-top: 15px;

  grid-row: 2;
}
.right-nav ul {
  display: flex;
  gap: 2rem;
  grid-column: 2;
}
.right-nav ul li {
  margin: 0 auto;
  background-color: var(--primary-color);
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-size: 14px;
}

.sidebar {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 200px;
  color: white;
  align-items: center;
  padding-top: 10px;
  background-color: var(--primary-color);
  grid-row: 1/4;
}
.sidebar > div > div {
  cursor: pointer;
}
.sidebar > div > div:hover {
  background-color: var(--second-primary);
}

.logo {
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 40px;
  font-size: 1.5rem;
  margin-left: 10px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.menu1,
.bottom-sidebar {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-left: 10px;
}
.bottom-sidebar {
  margin-top: 2rem;
  margin-left: 10px;
}
.bottom-sidebar > div {
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 40px 1fr;
  width: 100%;
}

.menu1 > div {
  width: 100%;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-left: 10px;
  align-items: center;
}

ul,
ol,
li {
  font-weight: bold;
  list-style-type: none;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.content {
  margin-top: 20px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 20px;
  
  grid-row: 2;
  display: grid;
  grid-template-columns: 3.5fr 1.5fr;
  grid-column: 2;
  gap: 20px;
  background-color: #bccbde;
}

.left-content {
  display: grid;
  gap: 20px;
  grid-row: 2;
  grid-column: 1;
  grid-template-columns: 1fr 1fr;
}
.right-content {
  grid-column: 2;
  display: grid;
  grid-row: 1 / 3;
  grid-column: 2;
  grid-template-columns: 300px;
  gap: 10px;
  grid-template-rows: 20px 0.7fr 30px 0.5fr;
}
.trending {
  grid-row: 3;
  font-size: 1.5rem;
  font-weight: bold;
}
.card1 > div {
  position: relative;
}
.card1 p {
  max-width: 300px;
  font-size: 1rem;
}
.card1 h1 {
  font-size: 1.5rem;
}


.card {
  display: grid;
  grid-template-rows: 40px 1fr 0.5fr;
  background-color: white;
  min-height: 250px;
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 10px;
  border-radius: 15px;
  overflow: hidden;
  border-left: solid 1rem var(--primary-color);

  position: relative;
}
.card > p {
  font-size: 1rem;
  max-width: 80%;
}

.card1 {
  margin-top: 15px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 8px;
  gap: 15px;
  border-radius: 15px;
  background-color: white;
}

.card2 {
  font-size: 10px;
  display: grid;
  border-radius: 15px;
  padding-left: 2rem;
  padding-top: 0.5rem;
  background-color: white;
}
.content-header {
  top: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 80%;
  left: 10px;
  top: 0;
  padding: 10px;
}
.left {
  font-size: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
  margin-left: 25px;
}

p {
  font-size: 15px;
}

.right {
  font-size: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: start;
}
.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: blue;
}
.trending-users {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: 20px 1fr;
}
.nick-name {
  font-weight: bold;
}
.project-name {
  color: rgb(135, 135, 135);
}
.img1 {
  background-color: green;
}
.img2 {
  background-color: rgb(22, 147, 0);
}
.img3 {
  background: rgb(157, 0, 0);
}
.img4 {
  background-color: rgb(210, 30, 195);
}
